@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-content: center;
}

.popup-inner {
  position: relative;
  padding: 32px;
  width: 35vw;
  height: 80vh;
  max-width: 640px;
}

/* .listrowdescription {
  overflow: 'hidden';
  text-overflow: 'ellipsis';
  display: '-webkit-box';
  -webkit-line-clamp: 3;
  -webkit-box-orient: 'vertical';
} */

@media only screen and (max-width: 600px) {
  
  .popup-inner {
    width: 100vw;
    background-color: rgba(0, 0, 0, 0);
  }
}